New-ADGroup -Name "hr" -GroupScope Global -GroupCategory Security -path "OU=groups, OU=accounts, OU=blue12, dc=blue12, dc=local"
New-ADGroup -Name "accounting" -GroupScope Global -GroupCategory Security -path "OU=groups, OU=accounts, OU=blue12, dc=blue12, dc=local"
New-ADGroup -Name "executive-staff" -GroupScope Global -GroupCategory Security -path "OU=groups, OU=accounts, OU=blue12, dc=blue12, dc=local"
New-ADGroup -Name "marketing" -GroupScope Global -GroupCategory Security -path "OU=groups, OU=accounts, OU=blue12, dc=blue12, dc=local"
New-ADGroup -Name "it" -GroupScope Global -GroupCategory Security -path "OU=groups, OU=accounts, OU=blue12, dc=blue12, dc=local"
